@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
  --primary-color: #a98351;
  --black-color: #000;
  --white-color: #fff;
}

/* reset css */
*{margin:0;padding:0;box-sizing:border-box}
body{font-family:"Mulish", sans-serif;font-size:14px;font-weight:400;color:var(--pirimary-color)}
input, button{font-family: "Mulish", sans-serif;}
ul,ol{list-style:none}
button{overflow:visible;border:0;background-color:transparent;cursor:pointer}
button::-moz-focus-inner{padding:0;border:0}
a{display: block;color: var(--pirimary-color);}
a,a:focus,a:active,a:hover{text-decoration:none;cursor: pointer;}
a:hover,a:active,a:focus{background-color:transparent}
input{border:0; outline: none;}
strong{display: block;}
img{width: 100%;height: 100%;object-fit: cover;}

/* --------comond--------- */
.container{
  width: 1200px;
  margin: 0 auto;
}

section{
  padding-top: 2rem;
  margin-top: -3px;
}
.section_content{
  margin-top: 1rem;
}
.line{
  display: flex;
  align-items: center;
  margin-block: .5rem;
  justify-content: center;
}
.line-yellow{
  width: 100px;
  height: 4px;
  background-color: #ffe706;
}
.line-blue{
  width: 100px;
  height: 2px;
  background-color: #3b85e8;
}
.border{
  border: 6px solid #f4e9db;
}
.txt-uppercase{
  text-transform: uppercase;
}
.flex{
  display: flex;
  align-items: center;
}
.btn{
  padding: 11px 2rem;
  background-color: #a98351;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  text-transform: uppercase;
  color: #fff;
}

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #00AAEC;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform:translate(calc(-50% + 15px), -50%);
  z-index: 10000;
}

.cursor2 {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #00AAEC;
  opacity: .3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
  z-index: 10000;
}

.scroll{
  position: fixed;
  bottom: 0;
  z-index: 900;
  left: 50%;
  transform: translateX(-600px);
  font-size: 14px;
  font-weight: 600px;
  padding-bottom: 50px;
}
.scroll span{
  display: block;
  transform: translateY(0);
  animation: bounce 2s infinite;
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-15px);}
	60% {transform: translateY(-7px);}
}
.scroll::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 1px;
  height: 45px;
  background-color: #000;
}




/* --------responsive--------- */